
<div class='row' ng-controller='Editor'>
	<div class='col-md-6'>
		<h1>Editor {{readyState}} {{readyState>=2}}</h1>
		<form ng-show="readyState>=2">
			<div class="form-group">
				<label for="postName">Post Name</label>
				<input type="text" class="form-control input-lg" id="postName" placeholder="name:" ng-model='post.name'>
			</div>
			<div class="form-group">
				<label for='postContent'>Markdown</label>
				<textarea ng-model='post.markDown' class='form-control' id='postContent'>
				</textarea>
			</div>
			<div class='form-group'>
				<label for='postTags'>Tags:</label>
				<input type='text' class='form-control input-sm' id='postTags' placeholder="tags: [ seperated by spaces ]" ng-model='post.tags' />
			</div>
			<div class="form-group">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-primary" ng-click='savePost()'>
						<span class="glyphicon glyphicon-save"></span> Save
					</button>
					<button type="button" class="btn btn-sm btn-info">
						<span class="glyphicon glyphicon-cloud-upload"></span> Publish
					</button>
					<button type="button" class="btn btn-sm btn-warning" ng-click='reload()'>
						<span class="glyphicon glyphicon-remove"></span> Discard
					</button>
					<button type="button" class="btn btn-sm btn-danger" ng-click='deletePost()'>
						<span class="glyphicon glyphicon-remove-sign"></span> Delete
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h1 class='panel-title'>post: {{post.name}}</h1>
			</div>
			<div class='panel-body'>
				<div ng-bind-html="post.markDown|marked"></div>
			</div>
			<div class='panel-footer'>
				<ul class='list-inline'>
					<li>tags:</li>
					<li ng-repeat='tag in post.tags.words()'>
						<a ng-href='"#!feed/tag/"+tag.toLowerCase()'>{{tag}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>